body {
    margin: 0px !important;
  }

.spacer {
    flex: auto;
}

.desktop {
  display: none;
}

.mobile {
  display: initial;
}

@media (min-width: 900px) {
  .desktop {
    display: initial;
  }
  
  .mobile {
    display: none;
  }
}