.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0em 2.5em;
    &-button {
        
    }
    &-logo {

    }
    &-links {
        display: flex;
        padding: 0em;
        list-style: none;
    }
    &-link {
       margin: 0em 1em; 
    }
}