<div class="navigator">
   <h3 class="navigator-h3">{{ section.settings.tagline }}</h3>
   <!-- Mobile -->
   <select class="navigator-options-vertical mobile" onchange="navigateTo(this.value)">
       <option class="navigator-option-vertical" value="1">{{ section.settings.option_1_text }}</option>
  </select>
   <!-- Desktop -->
   <ul class="navigator-options-horizontal desktop">
       <li class="navigator-option-horizontal" onclick="navigateTo(1)">
           <img src="{{ section.settings.option_1_img | img_url: '20x20' }}">
           <p class="navigator-option-horizontal-p">{{ section.settings.option_1_text }}</p>
       </li>
   </ul>
</div>

<script>
   const navigateTo = (target) => {
      document.getElementById(`collection-extended-${target}`).scrollIntoView({behavior: 'smooth' });
   }
</script>

{% schema %}
{
   "name":"Collection navigator",
   "settings":[
     {
        "type":"header",
        "content":"Tagline"
     },
     {
        "type":"text",
        "id":"tagline",
        "label":"Tagline"
     },
     {
        "type":"header",
        "content":"Option 1"
     },
     {
        "type":"checkbox",
        "id":"show_option_1",
        "label":"Show option 1"
     },
     {
        "type":"image_picker",
        "id":"option_1_img",
        "label":"Option 1 image"
     },
     {
        "type":"text",
        "id":"option_1_text",
        "label":"Option 1 text"
     }
   ],
   "presets":[
      {
         "name":"Collection navigator",
         "category":"Collection"
      }
   ]
}
{% endschema %}

{% stylesheet 'scss' %}
   .navigator {
       display: flex;
       align-items: center;
       justify-content: center;
       overflow: hidden;
   }
   .navigator-options-horizontal {
       display: flex;
       flex: auto;
       overflow-x: auto;
   }
   .navigator-option-horizontal {
       display: flex;
       align-items: center;
       margin: auto;
   }
{% endstylesheet %}