<div id="section-cta">
  <div class="container">
  </div>
</div>
{% schema %}
{
  "name": "Why choose us?",
  "settings": [
    {
      "id": "heroimage",
      "type": "image_picker",
      "label": "Hero Image"
    },
    {
      "id": "reason1icon",
      "type": "image_picker",
      "label": "Reason One Icon"
    },
    {
      "id": "reason1text",
      "type": "textarea",
      "label": "Reason One Text"
    }
  ],
  "presets": [
    {
      "name": "Why choose us?",
      "category": "Store Information"
    }
  ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}