<div class="credibility">
  <aside class="credibility-aside" class="desktop">
      <img src="{{ section.settings.main_img | img_url: '500x250' }}">
  </aside>
  <main class="credibility-main">
      <h3 class="credibility-main-h3">{{ section.settings.tagline_text }}</h3>
      <ul class="credibility-main-reasons">
          {% if section.settings.show_reason_1 %}
          <li class="credibility-main-reason">
              <img src="{{ section.settings.reason_1_img | img_url: '75x75' }}">
              <p class="credibility-main-reason-p">{{ section.settings.reason_1_text }}</p>
          </li>
          {% endif %}
      </ul>
  </main>
</div>

{% schema %}
{
  "name":"Credibility",
  "settings":[
    {
        "type":"header",
        "content":"Main Image"
    },
    {
        "type":"checkbox",
        "id":"show_main_image",
        "label":"Show main image"
    },
    {
        "type":"image_picker",
        "id":"main_img",
        "label":"Main image"
    },
    {
        "type":"header",
        "content":"Tagline"
    },
    {
        "type":"text",
        "id":"tagline",
        "label":"Tagline text",
        "default":"Why choose us?"
    },
    {
        "type":"header",
        "content":"Reason 1"
    },
    {
        "type":"checkbox",
        "id":"show_reason_1",
        "label":"Show reason 1"
    },
    {
        "type":"image_picker",
        "id":"reason_1_img",
        "label":"Reason 1 image"
    },
    {
        "type":"textarea",
        "id":"reason_1_text",
        "label":"Reason 1 text"
    }
  ],
  "presets":[
    {
        "name":"Credibility",
        "category":"Store Information"
    }
  ]
}
{% endschema %}

{% stylesheet 'scss' %}
.credibility {
    display: flex;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
.credibility-main {
    display: flex;
    flex-direction: column;
    flex: auto;
    overflow: hidden;
}
.credibility-main-h3 {

}
.credibility-main-reasons {
    display: flex;
    flex: auto;
    align-items: center;
    overflow-x: auto;
}
.credibility-main-reason {
    display: flex;
    align-items: center;
    margin: auto;
}
.credibility-main-reason-p {
    min-width: 7.5em;
    max-width: 10em; 
}
@media (min-width: 900px) {

}
{% endstylesheet %}