<div class="navigation">
  {% if template.name != 'collection' %}
    <a href="/collections/all" class="navigation-button mobile">Store</a>
    <a href="/collections/all" class="navigation-button desktop">Go to store</a>
  {% else %}
    <a href="/" class="navigation-button mobile">Back</a>
    <a href="/" class="navigation-button desktop">Go back</a>
  {% endif %}
  <a href="/cart" class="navigation-button desktop">Cart ({{ cart.item_count }})</a>
  <span class="spacer"></span>
  <a href="/" class="navigation-logo">{{ shop.name }}</a>
  <span class="spacer"></span>
  <div class="navigation-dropdown mobile">
      <a class="navigation-dropdown-trigger" onclick="toggleDropdown('navigation-popover')">More</a>
      <main class="navigation-dropdown-main" id="navigation-popover">
        Lorem Ipsum
      </main>
  </div>
  <div class="navigation-popover desktop">
    <a class="navigation-popover-trigger" onclick="togglePopover('guarantee-popover')">Our guarantee</a>
    <main class="navigation-popover-main" id="guarantee-popover">
      Lorem Ipsum
    </main>
  </div>
</div>

<script>
  const toggleDropdown = (target) => {
    const target$ = document.getElementById(target);

    if (!target$.style.display || target$.style.display === 'none') {
      target$.style.display = 'block';
      return;
    }

    target$.style.display = 'none';
  }
  const togglePopover = (target) => {
    const target$ = document.getElementById(target);

    if (!target$.style.display || target$.style.display === 'none') {
      target$.style.display = 'block';
      return;
    }

    target$.style.display = 'none';
  }
</script>

{% schema %}
{
  "name": "Header",
  "class": "sticky",
  "settings": [
  ]
}
{% endschema %}

<style>
  .navigation {
    display: flex;
    align-items: center;
    padding: 1em;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background: rgba(255,255,255,1);
    width: calc(100% - 2em);
  }
  .navigation-button {
    border: 1px solid gray;
    padding: .5em;
  }
  .navigation-logo {
    font-size: 1.5em;
  }
  .navigation-dropdown {
    visibility: hidden !important;
  }
  .navigation-dropdown-trigger {
    border: 1px solid gray;
    padding: .5em;
    cursor: pointer;
  }
  .navigation-dropdown-main {
    display: none;
    left: 0;
    width: 100%;
    position: absolute;
    height: 100%;
    margin-top: 1.5em;
    background: rgba(255,255,255,1);
  }
  .navigation-popover {
    margin: 0em 0em 0em 1em;
    visibility: hidden !important;
  }
  .navigation-popover-trigger {
    cursor: pointer;
  }
  .navigation-popover-main {
    display: none;
    position: absolute;
    transform: translateX(calc(-100% + 1em));
    background: rgba(255,255,255,1);
  }

  @media (min-width: 900px) {
    .navigation-button {
      margin: 0em 1em 0em 0em;
    }
  }
</style>